<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/add.css">
</head>
<body>
    <div class="main">
        <h1>ADD PRODUCT</h1>
        <div class="btns"><a href="http://localhost:8080" class="add-btn">DASHBOARD</a>
            <a href="http://localhost:8080/list" class="add-btn">INVENTORY</a></div>
            
        
        <div class="add">
            <form action="/list" method="post">
            <label for="name">NAME OF THE PRODUCT</label>
            <input type="text" name="name" id="name" required>
            <label for="category">CATEGORY OF THE PRODUCT</label>
            <input type="text" name="category" id="category" required>
            <label for="quantity">QUANTITY OF THE PRODUCT</label>
            <input type="number" name="quantity" id="quantity">
            <label for="price">PRICE OF THE PRODUCT</label>
            <input type="number" name="price" id="price" step="0.01">
            <input type="submit" value="ADD" class="btn">

        </form>
        </div>
        
    </div>
    <%- include('partials/footer') %>

    <script src="/add.js"></script>

</body>
</html>