<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1 class="title">Malik Mobile Care</h1>
    <div class="main">
        <h2 class="heading_main">Dashboard</h2>
        <div class="cards">
            <div class="box"><span>Total</span><span>Products</span>
            <span>10</span></div>
            <div class="box"><span>LOW STOCK </span><span>ITEMS</span> <span><%= lowqty %></span></div>
            <div class="box"><SPAn>TOTAL</SPAn><SPan>CATEGORIES</SPan> <span><%= tp %></span></div>
            <div class="box"><SPAn>OUT-OF-STOCK</SPAn> <SPAn>ITEMS</SPAn> <span><%= ots %></span></div>
        </div>
    </div>
</body>
</html>